html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

body {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 18px;
  line-height: 30px; }
  body p {
    margin: 0 0 14px;
    color: #272727; }
  body a {
    text-decoration: none; }

h1, h2, h3 {
  font-family: inherit;
  text-rendering: optimizelegibility;
  font-family: "Lato", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: bold; }
  h1 a, h2 a, h3 a {
    color: #171717; }

h2 {
  font-size: 23.4px;
  line-height: 30.8px; }

time {
  font-size: 12px;
  line-height: 23.333px;
  color: #878787;
  margin: 0 0 0.8em; }

img {
  max-width: 100%;
  height: auto; }

body {
  max-width: 640px;
  margin: 0 auto;
  border-top: solid 6px #00a0b0; }

header {
  text-align: center;
  max-width: 100%;
  margin: 1.7em auto 0.3em; }

.menu ul {
  text-align: center;
  margin-bottom: 2.5em; }
.menu li {
  display: inline-block;
  padding: 0 1em;
  margin: 0 0 0.5em;
  border-left: 1px solid #bbbbbb;
  line-height: 1.2;
  font-size: 1em; }
.menu li:first-child {
  border-left: none; }
.menu li a {
  color: #777777;
  text-decoration: none;
  -webkit-transition: color 0.3s ease-out;
  -moz-transition: color 0.3s ease-out;
  -ms-transition: color 0.3s ease-out;
  -o-transition: color 0.3s ease-out;
  transition: color 0.3s ease-out; }
.menu li a:hover, .menu .current_page_item a {
  color: #444444; }

.wrapper {
  max-width: 94%;
  margin: 0 auto; }

::-moz-selection {
  color: black;
  background: #edc951; }

::selection {
  color: black;
  background: #edc951; }
