html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

.left {
  float: left; }

.right {
  float: right; }

.alignleft {
  display: inline;
  float: left;
  margin-right: 1.625em; }

.alignright {
  display: inline;
  float: right;
  margin-left: 1.625em; }

.aligncenter {
  clear: both;
  display: block;
  margin-left: auto;
  margin-right: auto; }

.wp-caption {
  margin-top: 0.4em;
  background: #eeeeee;
  margin-bottom: 1.625em;
  max-width: 96%;
  padding: 9px; }

.wp-caption img {
  display: block;
  margin: 0 auto;
  max-width: 98%; }

.wp-caption .wp-caption-text, .gallery-caption {
  color: #666666;
  font-family: Georgia, serif;
  font-size: 12px; }

.wp-caption .wp-caption-text {
  margin-bottom: 0.6em;
  padding: 10px 0 5px 40px;
  position: relative; }

.blog .sticky .entry-header .entry-meta {
  clip: rect(1px 1px 1px 1px);
  clip: rect(1px, 1px, 1px, 1px); }

/* Post author highlighting */
.commentlist > li.bypostauthor {
  background: #dddddd;
  border-color: #d3d3d3; }

.commentlist > li.bypostauthor .comment-meta {
  color: #575757; }

/* Post Author threaded comments */
.commentlist .children > li.bypostauthor {
  background: #dddddd;
  border-color: #d3d3d3; }

.link-pages {
  clear: both; }

body {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 14px;
  line-height: 22px; }
  body p {
    margin: 0 0 13px;
    color: #272727; }
  body a {
    text-decoration: none;
    color: #00a0b0; }
    body a:hover {
      color: #00b7ca;
      -webkit-transition: color 0.1s linear;
      -moz-transition: color 0.1s linear;
      -ms-transition: color 0.1s linear;
      -o-transition: color 0.1s linear;
      transition: color 0.1s linear; }

h1, h2, h3 {
  font-family: inherit;
  text-rendering: optimizelegibility;
  font-family: "Lato", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: bold; }
  h1 a, h2 a, h3 a {
    color: #171717; }

h1 {
  font-size: 18px;
  line-height: 22px; }

h2 {
  font-size: 16px;
  line-height: 18px; }

h3 {
  font-size: 14px;
  line-height: 16px; }

h4 {
  font-size: 13px;
  line-height: 13px; }

time {
  font-size: 12px;
  line-height: 12px;
  color: #878787;
  vertical-align: text-top; }

article form {
  -webkit-box-shadow: #aaaaaa 0px 2px 4px;
  -moz-box-shadow: #aaaaaa 0px 2px 4px;
  box-shadow: #aaaaaa 0px 2px 4px;
  padding: 2%;
  margin: 0 0 10px;
  background-color: #eeeeee;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  -ms-border-radius: 6px;
  -o-border-radius: 6px;
  border-radius: 6px; }
  article form .logged-in-as, article form .comment-notes {
    font-size: 14px; }
  article form input {
    font-size: 18px;
    border: solid 1px #eeeeee;
    padding: 4px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -ms-border-radius: 4px;
    -o-border-radius: 4px;
    border-radius: 4px;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    margin-bottom: 5px; }
  article form textarea {
    padding: 5px;
    width: 100%;
    font-size: 18px;
    border: solid 1px #eeeeee;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -ms-border-radius: 4px;
    -o-border-radius: 4px;
    border-radius: 4px;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box; }

.archives select {
  font-size: 16px; }

.search form input {
  font-size: 16px;
  vertical-align: top; }
.search form button {
  padding: 1px 7px;
  vertical-align: top; }

button, .button, #submit {
  display: inline-block;
  padding: 4px 14px;
  margin-bottom: 0;
  font-size: 14px;
  text-align: center;
  vertical-align: middle;
  cursor: pointer;
  background-color: #00a0b0;
  color: #eeeeee;
  border: 1px solid #777777;
  border-bottom-color: #00727d;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  -ms-border-radius: 8px;
  -o-border-radius: 8px;
  border-radius: 8px;
  -webkit-box-shadow: #aaaaaa 0px 2px 4px;
  -moz-box-shadow: #aaaaaa 0px 2px 4px;
  box-shadow: #aaaaaa 0px 2px 4px; }
  button:hover, .button:hover, #submit:hover {
    text-decoration: none;
    background-color: #00aebf;
    background-position: 0 -15px;
    -webkit-transition: background-position 0.2s linear;
    -moz-transition: background-position 0.2s linear;
    -ms-transition: background-position 0.2s linear;
    -o-transition: background-position 0.2s linear;
    transition: background-position 0.2s linear; }
  button.active, button:active, .button.active, .button:active, #submit.active, #submit:active {
    background-color: #00b7ca;
    outline: 0; }

body {
  max-width: 640px;
  margin: 0 auto;
  border-top: solid 6px #00a0b0; }

.wrapper {
  max-width: 94%;
  margin: 0 auto; }

header {
  text-align: center;
  max-width: 100%;
  margin: 1.2em auto 0.3em; }
  header .logo img {
    max-width: 75%; }

footer {
  overflow: hidden;
  *zoom: 1;
  margin-top: 40px;
  border-bottom: solid 6px #00a0b0;
  padding: 1% 3%; }
  footer .archives {
    float: left; }
  footer .search {
    display: none; }
  footer h4 {
    text-align: center; }

img {
  max-width: 100%;
  height: auto;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  -o-border-radius: 3px;
  border-radius: 3px; }

article img {
  -webkit-box-shadow: #aaaaaa 0px 2px 4px;
  -moz-box-shadow: #aaaaaa 0px 2px 4px;
  box-shadow: #aaaaaa 0px 2px 4px; }

.menu ul {
  text-align: center; }
.menu li {
  display: inline-block;
  padding: 0 1em;
  margin: 0 0 0.5em;
  border-left: 1px solid #aaaaaa; }
.menu li:first-child {
  border-left: none; }
.menu li a {
  font-size: 15px;
  line-height: 17px;
  color: #777777;
  text-decoration: none;
  -webkit-transition: color 0.3s ease-out;
  -moz-transition: color 0.3s ease-out;
  -ms-transition: color 0.3s ease-out;
  -o-transition: color 0.3s ease-out;
  transition: color 0.3s ease-out; }
.menu li a:hover, .menu .current_page_item a {
  color: #222222; }
.menu .current_page_item a {
  color: #222222;
  font-weight: 500; }

article.post {
  margin-top: 1em; }
  article.post .comments-link a {
    padding: 1% 2%;
    background-color: #eeeeee;
    font-size: 14px;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    -ms-border-radius: 6px;
    -o-border-radius: 6px;
    border-radius: 6px;
    border: solid 1px #dddddd; }

.commentList {
  margin-bottom: 20px; }
  .commentList li.comment-item {
    -webkit-box-shadow: #aaaaaa 0px 2px 4px;
    -moz-box-shadow: #aaaaaa 0px 2px 4px;
    box-shadow: #aaaaaa 0px 2px 4px;
    padding: 2%;
    margin: 0 0 10px;
    background-color: #eeeeee;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    -ms-border-radius: 6px;
    -o-border-radius: 6px;
    border-radius: 6px; }
  .commentList img.avatar {
    float: left;
    margin: 0 10px 10px 0;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -ms-border-radius: 4px;
    -o-border-radius: 4px;
    border-radius: 4px; }
  .commentList .comment {
    font-size: 16px;
    color: #777777; }

.pagination {
  overflow: hidden;
  *zoom: 1;
  margin-top: 1em;
  max-width: 100%;
  padding: 0 2%;
  background-color: #eeeeee;
  font-size: 14px;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  -ms-border-radius: 6px;
  -o-border-radius: 6px;
  border-radius: 6px;
  border: solid 1px #dddddd; }
  .pagination .older {
    float: right; }
  .pagination .newer {
    float: left; }

::-moz-selection {
  color: black;
  background: #eb6841; }

::selection {
  color: black;
  background: #eb6841; }
