
// Body text
body 
  font-family: $bodyFontFamily
  font-size: 14px
  line-height: 22px
  p
    margin: 0 0 13px
    color: #272727
  a
    text-decoration: none
    color: $blue
    &:hover
      color: lighten($blue, 5%)
      @include transition(color .1s linear)

// Headings
h1, h2, h3
  font-family: inherit
  text-rendering: optimizelegibility
  font-family: $headerFontFamily
  font-weight: 300
  letter-spacing: -1px
  a
    color: #171717

// Post headings
h1  
  font-size: 28px
  line-height: 32px

h2  
  font-size: 16px
  line-height: 18px

h3  
  font-size: 14px
  line-height: 16px

// Footer
h4
  font-size: 13px
  line-height: 13px

// Post timestamps
time
  font-size: 12px
  line-height: 12px
  color: #878787
  vertical-align: text-top
  font-family: $headerFontFamily
