// Colour palette - Ocean Five by DESIGNJUNKEE 
// src: www.colourlovers.com/palette/1473/Ocean_Five
$blue: #00A0B0
$brown: #6A4A3C
$red: #CC333F
$orange: #EB6841
$yellow: #EDC951

// Grays
$black: #000
$darkerGray: #222
$darkGray: #444
$gray: #777
$lightGray: #aaa
$lighterGray: #eee
$white: #fff

// Font stacks
$bodyFontFamily: Cambria, Georgia, serif
$headerFontFamily: "Helvetica Neue", Helvetica, Arial, sans-serif