// Colour palette - Ocean Five by DESIGNJUNKEE 
// src: www.colourlovers.com/palette/1473/Ocean_Five
$blue: #00A0B0
$brown: #6A4A3C
$red: #CC333F
$orange: #EB6841
$yellow: #EDC951

// Grays
$black: #000
$darkerGray: #222
$darkGray: #444
$gray: #777
$lightGray: #aaa
$lighterGray: #eee
$white: #fff

// Font stacks
$bodyFontFamily: "Helvetica Neue", Helvetica, Arial, sans-serif
$headerFontFamily: "Lato", "Helvetica Neue", Helvetica, Arial, sans-serif


.left
  float: left

.right
  float: right


// Stuff banged in from twentyeleven to satisfy Wordpress Themes Patrol

// Alignment   **NEEDS REVIEW**
.alignleft 
  display: inline
  float: left
  margin-right: 1.625em

.alignright 
  display: inline
  float: right
  margin-left: 1.625em

.aligncenter 
  clear: both
  display: block
  margin-left: auto
  margin-right: auto

// Captions   **NEEDS REVIEW**
.wp-caption
  margin-top: 0.4em
  background: #eee
  margin-bottom: 1.625em
  max-width: 96%
  padding: 9px

.wp-caption img 
  display: block
  margin: 0 auto
  max-width: 98%

.wp-caption .wp-caption-text, .gallery-caption 
  color: #666
  font-family: Georgia, serif
  font-size: 12px

.wp-caption .wp-caption-text 
  margin-bottom: 0.6em
  padding: 10px 0 5px 40px
  position: relative

.blog .sticky .entry-header .entry-meta 
  clip: rect(1px 1px 1px 1px)
  clip: rect(1px, 1px, 1px, 1px)
  //position: absolute !important

/* Post author highlighting */
.commentlist > li.bypostauthor 
  background: #ddd
  border-color: #d3d3d3

.commentlist > li.bypostauthor .comment-meta 
  color: #575757

/* Post Author threaded comments */
.commentlist .children > li.bypostauthor
  background: #ddd
  border-color: #d3d3d3

.link-pages
  clear: both