// Load in Eric Meyer's CSS reset
@import "reset.sass"

// Load in Compass assets
@import "compass/css3"
@import "compass/utilities/general/clearfix"

// My Imports
@import "variables.sass"

img
  width: 100%
  height: auto
  @include border-radius(3px)
#disqus_thread img
  display: none

html
  min-height: 100%
  margin: 0
  padding: 0
  border-top: solid 6px $blue
  border-bottom: solid 6px $blue
 
body
  max-width: $full-width
  margin: 0 auto

  // Body text  
  font-family: $serif
  color: $darkerGray
  @include font-size-line-height(1em, 1.4em)
  @include full-width
    @include font-size-line-height(1.2em, 1.45em)
  p
    margin: 0 0 1.2em
  a
    text-decoration: none
    color: $blue
    &:hover, &:active
      color: lighten($blue, 8%)
      @include transition(color .15s linear)
  
  // Prevent headers from being styled like links
  h1, h2, h3
    a
      color: $darkerGray
    a:hover
      color: $darkerGray
  a.time
    color: $gray2
  a.content
    color: $darkerGray

// Side padding for when we get to slim widths
.wrapper
  max-width: 94%
  margin: 0 auto
  margin-top: 0
  @include add-sidebar-width
    margin-top: 2.5em

// The masthead/header area of the site
header
  margin-bottom: 1em
  text-align: center
  .profile-pic img
    margin: 10px 0 -28px 0
    width: 80px
  // The title or name of the site
  h1
    @include font-size-line-height(2.4em, 1.3em)
    font-family: $headerName
    font-weight: 400
    margin: 0.4em 0 0.1em 0
    color: $darkerGray
  // The description of the site
  h2
    @include font-size-line-height(1.1em, 1.1em)
    @include full-width
      @include font-size-line-height(1.1em, 1.2em)
    color: $gray2
    font-size: 1em
    margin-bottom: 1em
    font-family: $sansSerif
    text-rendering: optimizelegibility
    font-weight: 300
    letter-spacing: -1px
  .social
    margin-bottom: 0.9em
    img
      width: 32px
      margin: 0 0.4em
  @include full-width
    .profile-pic img
      margin: 15px 0 -25px 0
      width: 100px
    h1
      @include font-size-line-height(2.8em, 1.3em)
      margin: 0.4em 0 0.1em 0
  @include add-sidebar-width
    display: none

body.single, body.page
  .wrapper
    margin-top: 2.5em 
  header
    display: none

// Blog posts
article
  margin-bottom: 1em
  border-bottom: 1px solid rgba(0, 0, 0, 0.06)
  font-size: 0.9em
  // Shadows on images by default
  img
    @include box-shadow($lightGray 0px 1px 2px)
  img.noshadow
    @include box-shadow(none)
  // Post timestamps
  time
    color: $gray2
    vertical-align: text-top
    @include font-size-line-height(0.75em, 1.2em)
    margin-bottom: 20px
    @include add-sidebar-width()
      .name
        display: none
  .page time
    display: none
  // Post titles
  h1
    font-weight: 300
    letter-spacing: -1px
    @include font-size-line-height(1.6em, 1.2em)
    @include full-width
      @include font-size-line-height(1.8em, 1.3em)
  // h2-h4 are for use within post content
  h2
    //font-weight: 600
    @include font-size-line-height(1.3em, 1.5em)
    margin: 0.5em 0
    //@include full-width
    //  @include font-size-line-height(1.1em, 1.5em)
  h3
    font-weight: 600
    margin: 0.3em 0
    //color: #555
    //font-style: italic
    @include font-size-line-height(1.0em, 1.4em)
    //@include full-width
    //  @include font-size-line-height(1em, 1.4em)
  em
    font-style: italic
  h4, strong, b
    font-weight: 600
  ul, ol 
    margin: 0 1.5em 1.2em
  ul li 
    list-style: square

// Back to front page link that's displayed after pages
.back-to-front-page
  margin-bottom: 1em
  font-size: 0.9em

// Profile info about me
.profile
  // Desktop view: on the left hand side
  .profile-side
    display: none
    @include add-sidebar-width
      display: block
      position: relative
      width: 180px
      margin-left: -230px
      border-top: 0
      padding-top: 0
      float: left
      .profile-pic
        width: 100px
      .profile-name
        @include font-size-line-height(1.1em, 1.3em)
        color: $blue
        font-family: $headerName
        font-weight: 400
        margin: 8px 0 2px 0
      .profile-description
        @include font-size-line-height(0.8em, 1.4em)
        color: $gray
        font-style: italic
      .profile-links
        a
          @include font-size-line-height(0.8em, 0.8em)
          color: $gray2
  // Mobile view: at the bottom of the content
  .profile-bottom
    hr
      margin-bottom: 20px
    .profile-pic
      float: left
      width: 25%
      margin-bottom: 20px
    .profile-data
      float: right
      width: 72%
    .profile-name
      float: left
      @include font-size-line-height(1.1em, 1.3em)
      color: $blue
      font-family: $headerName
      font-weight: 400
      width: 70%
    .profile-description
      float: left
      @include font-size-line-height(0.8em, 1.4em)
      color: $gray
      font-style: italic
      width: 100%
    .profile-links
      float: left
      a
        @include font-size-line-height(0.8em, 0.8em)
        color: $gray2
    // Between mobile and desktop tweaks
    @include full-width
      .profile-pic
        width: 20%
      .profile-data
        width: 80%
      .profile-name
        margin: 0 10px 0 20px
      .profile-description
        width: 350px
        margin: 0 10px 0 20px
    @include add-sidebar-width
      display: none

footer
  margin: 1em 0 1em 0

// Specify the color of the selection
::-moz-selection 
  color: $black
  background: $orange
::selection     
  color: $black
  background: $orange

hr
  margin-bottom: 1em
  border: 0
  height: 0
  border-top: 1px solid rgba(0, 0, 0, 0.06)
  border-bottom: 1px solid rgba(255, 255, 255, 0.3)

// Used for floating inline images/captions right and left
.alignleft, .alignright
  @include full-width
    display: inline
    margin-right: 0.5em
    width: auto
.alignleft
  @include full-width
    float: left
.alignright
  @include full-width
    float: right
.wp-caption-text
  font-size: 17px

// Make embedded videos responsive
.videoWrapper 
  position: relative
  padding-bottom: 56.25% /* 16:9 */
  padding-top: 25px
  height: 0
  iframe, object
    position: absolute
    top: 0
    left: 0
    width: 100%
    height: 100%
