// Load in Eric Meyer's CSS reset
@import "reset.sass"

// Load in Compass assets
@import "compass/css3"
@import "compass/utilities/general/clearfix"

// My Imports
@import "variables.sass"
@import "typography.sass"
//@import "forms.sass"

// Specify the color of the selection
::-moz-selection 
  color: #000
  background: $orange
::selection     
  color: #000
  background: $orange

hr
  border: 0
  height: 0
  border-top: 1px solid rgba(0, 0, 0, 0.1)
  border-bottom: 1px solid rgba(255, 255, 255, 0.3)

img
  max-width: 100%
  height: auto
  @include border-radius(3px)
img.size-full
  width: $full-width

html
  border-top: solid 6px $blue
  border-bottom: solid 6px $blue
 
body
  max-width: $full-width
  margin: 0 auto  

.wrapper
  max-width: 94%
  margin: 0 auto

header
  margin-bottom: 1em
  h1
    font-size: 2.7em
    font-family: $headerName
    font-weight: 400
    margin: 0.4em 0 0.3em 0
    color: #171717
    text-align: center
  h2
    color: #888
    font-size: 1em
    margin-bottom: 1.4em
    text-align: center
  hr 
    width: 15em
  .social
    text-align: center
    height: 36px
    img
      width: 36px
      margin: 0 0.4em

// Little margin at the top of each post
article.post
  margin-top: 1.5em

// Shadows on images by default
article img
  @include box-shadow($lightGray 0px 1px 2px)
article img.noshadow
  @include box-shadow(none)

// Used for floating inline images/captions right and left
.alignleft
  @include full-width
    display: inline
    float: left
    margin-right: 0.5em
.alignright
  @include full-width
    display: inline
    float: right
    margin-left: 0.5em
.wp-caption-text
  font-size: 17px


// Older Posts and Newer Posts buttons
.pagination
  +clearfix
  margin-top: 1em
  .older, .newer
    max-width: 100%
    padding: 0 2%
    background-color: $lighterGray
    font-size: 0.9em
    @include border-radius(6px)
  .older
    float: right
  .newer
    float: left

footer
  +clearfix
  margin-top: 40px  
  padding: 1% 3%
  .archives
    float: left
  .search 
    display: none
  h4
    text-align: center