html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

img {
  max-width: 100%;
  height: auto;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  -o-border-radius: 3px;
  border-radius: 3px; }

img.size-full {
  width: 33em; }

html {
  border-top: solid 6px #00a0b0;
  border-bottom: solid 6px #00a0b0; }

body {
  max-width: 33em;
  margin: 0 auto;
  font-family: Cambria, Georgia, serif;
  color: #272727;
  font-size: 1em;
  line-height: 1.4em; }
  @media screen and (min-width: 33em) {
    body {
      font-size: 1.2em;
      line-height: 1.45em; } }
  body p {
    margin: 0 0 1.2em; }
  body a {
    text-decoration: none;
    color: #00a0b0; }
    body a:hover, body a:active {
      color: #00c0d4;
      -webkit-transition: color 0.1s linear;
      -moz-transition: color 0.1s linear;
      -o-transition: color 0.1s linear;
      transition: color 0.1s linear; }
  body h1 a, body h2 a, body h3 a {
    color: #272727; }
  body h1 a:hover, body h2 a:hover, body h3 a:hover {
    color: #272727; }

.wrapper {
  max-width: 94%;
  margin: 0 auto;
  margin-top: 2.5em; }

header {
  display: none;
  margin-bottom: 1em; }
  header h1 {
    font-size: 2.8em;
    line-height: 1.3em;
    font-family: Georgia, Cambria, serif;
    font-weight: 400;
    margin: 0.4em 0 0.2em 0;
    color: #171717;
    text-align: center; }
  header h2 {
    font-size: 1.1em;
    line-height: 1.1em;
    color: #888888;
    font-size: 1em;
    margin-bottom: 1em;
    text-align: center;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    text-rendering: optimizelegibility;
    font-weight: 300;
    letter-spacing: -1px; }
    @media screen and (min-width: 33em) {
      header h2 {
        font-size: 1.1em;
        line-height: 1.2em; } }
  header .social {
    text-align: center;
    margin-bottom: 0.9em; }
    header .social img {
      width: 32px;
      margin: 0 0.4em; }

article {
  margin-bottom: 2em; }
  article .post-title {
    margin-bottom: 10px; }
  article img {
    -webkit-box-shadow: #aaaaaa 0px 1px 2px;
    -moz-box-shadow: #aaaaaa 0px 1px 2px;
    box-shadow: #aaaaaa 0px 1px 2px; }
  article img.noshadow {
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none; }
  article time {
    color: #878787;
    vertical-align: text-top;
    font-size: 0.75em;
    line-height: 1.2em;
    margin-bottom: 20px; }
  article .page time {
    display: none; }
  article h1 {
    font-weight: 300;
    letter-spacing: -1px;
    font-size: 1.5em;
    line-height: 1.2em; }
    @media screen and (min-width: 33em) {
      article h1 {
        font-size: 1.6em;
        line-height: 1.3em; } }
  article h2 {
    font-weight: 600;
    font-size: 1.1em;
    line-height: 1.5em; }
  article h3 {
    font-weight: 600;
    font-size: 1em;
    line-height: 1.4em; }
  article h4, article strong, article b {
    font-weight: 600; }

.pagination {
  overflow: hidden;
  *zoom: 1;
  margin-top: 1em; }
  .pagination .older, .pagination .newer {
    max-width: 100%;
    padding: 0 2%;
    background-color: #eeeeee;
    font-size: 0.9em;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    -ms-border-radius: 6px;
    -o-border-radius: 6px;
    border-radius: 6px; }
  .pagination .older {
    float: right; }
  .pagination .newer {
    float: left; }

.profile .profile-side {
  display: none; }
  @media screen and (min-width: 74em) {
    .profile .profile-side {
      display: block;
      position: relative;
      width: 180px;
      margin-left: -230px;
      border-top: 0;
      padding-top: 0;
      float: left; }
      .profile .profile-side .profile-pic {
        width: 100px; }
      .profile .profile-side .profile-name {
        font-size: 1.1em;
        line-height: 1.3em;
        color: #00a0b0;
        font-family: Georgia, Cambria, serif;
        font-weight: 400;
        margin: 8px 0 2px 0; }
      .profile .profile-side .profile-description {
        font-size: 0.8em;
        line-height: 1.4em;
        color: #666666;
        font-style: italic; }
      .profile .profile-side .profile-links a {
        font-size: 0.8em;
        line-height: 0.8em;
        color: #999999; } }
.profile .profile-bottom hr {
  margin: 40px 0 20px 0; }
.profile .profile-bottom .profile-pic {
  float: left;
  width: 20%; }
.profile .profile-bottom .profile-data {
  float: right;
  width: 80%; }
.profile .profile-bottom .profile-name {
  float: left;
  font-size: 1.1em;
  line-height: 1.3em;
  color: #00a0b0;
  font-family: Georgia, Cambria, serif;
  font-weight: 400;
  width: 70%;
  margin: 0 10px 0 20px; }
.profile .profile-bottom .profile-description {
  float: left;
  font-size: 0.8em;
  line-height: 1.4em;
  color: #666666;
  font-style: italic;
  width: 275px;
  margin: 0 10px 0 20px;
  border-right: 1px solid #dededc;
  padding-right: 25px; }
.profile .profile-bottom .profile-links {
  float: left;
  width: 80px;
  margin-left: 20px; }
  .profile .profile-bottom .profile-links a {
    font-size: 0.8em;
    line-height: 0.8em;
    color: #999999; }
@media screen and (min-width: 74em) {
  .profile .profile-bottom {
    display: none; } }

footer {
  overflow: hidden;
  *zoom: 1;
  margin: 1em 0 1em 0;
  padding: 1% 2%; }
  footer hr {
    margin-bottom: 1em; }
  footer p {
    margin: 0 0 0.4em 0;
    float: right;
    font-size: 0.9em;
    line-height: 1em; }
    @media screen and (min-width: 33em) {
      footer p {
        font-size: 0.8em;
        line-height: 1.2em; } }
  footer span {
    margin: 0 0 0.4em 0;
    float: right;
    font-size: 0.6em;
    line-height: 0.6em; }
    @media screen and (min-width: 33em) {
      footer span {
        font-size: 0.7em;
        line-height: 0.7em; } }
  footer .about-me {
    overflow: hidden;
    *zoom: 1; }
    @media screen and (min-width: 33em) {
      footer .about-me {
        float: left;
        width: 65%; } }
    footer .about-me .profile-pic {
      float: left;
      width: 25%;
      padding-right: 2%; }
    footer .about-me .linkedin-button img {
      height: 20px; }
    footer .about-me p, footer .about-me h3 {
      line-height: 1.4em;
      float: none; }
  @media screen and (min-width: 33em) {
    footer .connect-with-me {
      float: right;
      width: 32%; } }
  footer .connect-with-me p, footer .connect-with-me h3 {
    line-height: 1.4em;
    float: none; }

footer p {
  margin: 0 0 0.4em 0;
  float: right;
  font-size: 0.9em;
  line-height: 1em; }
  @media screen and (min-width: 33em) {
    footer p {
      font-size: 0.8em;
      line-height: 1.2em; } }
footer span {
  margin: 0 0 0.4em 0;
  float: right;
  font-size: 0.6em;
  line-height: 0.6em; }
  @media screen and (min-width: 33em) {
    footer span {
      font-size: 0.7em;
      line-height: 0.7em; } }

::-moz-selection {
  color: black;
  background: #eb6841; }

::selection {
  color: black;
  background: #eb6841; }

hr {
  border: 0;
  height: 0;
  border-top: 1px solid rgba(0, 0, 0, 0.1);
  border-bottom: 1px solid rgba(255, 255, 255, 0.3); }

@media screen and (min-width: 33em) {
  .alignleft {
    display: inline;
    float: left;
    margin-right: 0.5em; } }

@media screen and (min-width: 33em) {
  .alignright {
    display: inline;
    float: right;
    margin-left: 0.5em; } }

.wp-caption-text {
  font-size: 17px; }
