html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

img {
  width: 100%;
  height: auto;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  -o-border-radius: 3px;
  border-radius: 3px; }

#disqus_thread img {
  display: none; }

html {
  min-height: 100%;
  margin: 0;
  padding: 0;
  border-top: solid 6px #00a0b0;
  border-bottom: solid 6px #00a0b0; }

body {
  max-width: 33em;
  margin: 0 auto;
  font-family: Cambria, Georgia, serif;
  color: #272727;
  font-size: 1em;
  line-height: 1.4em; }
  @media screen and (min-width: 33em) {
    body {
      font-size: 1.2em;
      line-height: 1.45em; } }
  body p {
    margin: 0 0 1.2em; }
  body a {
    text-decoration: none;
    color: #00a0b0; }
    body a:hover, body a:active {
      color: #00c5d9;
      -webkit-transition: color 0.15s linear;
      -moz-transition: color 0.15s linear;
      -o-transition: color 0.15s linear;
      transition: color 0.15s linear; }
  body h1 a, body h2 a, body h3 a {
    color: #272727; }
  body h1 a:hover, body h2 a:hover, body h3 a:hover {
    color: #272727; }
  body a.time {
    color: #888888; }
  body a.content {
    color: #272727; }

.wrapper {
  max-width: 94%;
  margin: 0 auto;
  margin-top: 0; }
  @media screen and (min-width: 74em) {
    .wrapper {
      margin-top: 2.5em; } }

header {
  margin-bottom: 1em;
  text-align: center; }
  header .profile-pic img {
    margin: 10px 0 -28px 0;
    width: 80px; }
  header h1 {
    font-size: 2.4em;
    line-height: 1.3em;
    font-family: Georgia, Cambria, serif;
    font-weight: 400;
    margin: 0.4em 0 0.1em 0;
    color: #272727; }
  header h2 {
    font-size: 1.1em;
    line-height: 1.1em;
    color: #888888;
    font-size: 1em;
    margin-bottom: 1em;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    text-rendering: optimizelegibility;
    font-weight: 300;
    letter-spacing: -1px; }
    @media screen and (min-width: 33em) {
      header h2 {
        font-size: 1.1em;
        line-height: 1.2em; } }
  header .social {
    margin-bottom: 0.9em; }
    header .social img {
      width: 32px;
      margin: 0 0.4em; }
  @media screen and (min-width: 33em) {
    header .profile-pic img {
      margin: 15px 0 -25px 0;
      width: 100px; }
    header h1 {
      font-size: 2.8em;
      line-height: 1.3em;
      margin: 0.4em 0 0.1em 0; } }
  @media screen and (min-width: 74em) {
    header {
      display: none; } }

body.single .wrapper, body.page .wrapper {
  margin-top: 2.5em; }
body.single header, body.page header {
  display: none; }

article {
  margin-bottom: 1em;
  border-bottom: 1px solid rgba(0, 0, 0, 0.06);
  font-size: 0.9em; }
  article img {
    -webkit-box-shadow: #aaaaaa 0px 1px 2px;
    -moz-box-shadow: #aaaaaa 0px 1px 2px;
    box-shadow: #aaaaaa 0px 1px 2px; }
  article img.noshadow {
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none; }
  article time {
    color: #888888;
    vertical-align: text-top;
    font-size: 0.75em;
    line-height: 1.2em;
    margin-bottom: 20px; }
    @media screen and (min-width: 74em) {
      article time .name {
        display: none; } }
  article .page time {
    display: none; }
  article h1 {
    font-weight: 300;
    letter-spacing: -1px;
    font-size: 1.6em;
    line-height: 1.2em; }
    @media screen and (min-width: 33em) {
      article h1 {
        font-size: 1.8em;
        line-height: 1.3em; } }
  article h2 {
    font-size: 1.3em;
    line-height: 1.5em;
    margin: 0.5em 0; }
  article h3 {
    font-weight: 600;
    margin: 0.3em 0;
    font-size: 1em;
    line-height: 1.4em; }
  article em {
    font-style: italic; }
  article h4, article strong, article b {
    font-weight: 600; }
  article ul, article ol {
    margin: 0 1.5em 1.2em; }
  article ul li {
    list-style: square; }

.back-to-front-page {
  margin-bottom: 1em;
  font-size: 0.9em; }

.profile .profile-side {
  display: none; }
  @media screen and (min-width: 74em) {
    .profile .profile-side {
      display: block;
      position: relative;
      width: 180px;
      margin-left: -230px;
      border-top: 0;
      padding-top: 0;
      float: left; }
      .profile .profile-side .profile-pic {
        width: 100px; }
      .profile .profile-side .profile-name {
        font-size: 1.1em;
        line-height: 1.3em;
        color: #00a0b0;
        font-family: Georgia, Cambria, serif;
        font-weight: 400;
        margin: 8px 0 2px 0; }
      .profile .profile-side .profile-description {
        font-size: 0.8em;
        line-height: 1.4em;
        color: #666666;
        font-style: italic; }
      .profile .profile-side .profile-links a {
        font-size: 0.8em;
        line-height: 0.8em;
        color: #888888; } }
.profile .profile-bottom hr {
  margin-bottom: 20px; }
.profile .profile-bottom .profile-pic {
  float: left;
  width: 25%;
  margin-bottom: 20px; }
.profile .profile-bottom .profile-data {
  float: right;
  width: 72%; }
.profile .profile-bottom .profile-name {
  float: left;
  font-size: 1.1em;
  line-height: 1.3em;
  color: #00a0b0;
  font-family: Georgia, Cambria, serif;
  font-weight: 400;
  width: 70%; }
.profile .profile-bottom .profile-description {
  float: left;
  font-size: 0.8em;
  line-height: 1.4em;
  color: #666666;
  font-style: italic;
  width: 100%; }
.profile .profile-bottom .profile-links {
  float: left; }
  .profile .profile-bottom .profile-links a {
    font-size: 0.8em;
    line-height: 0.8em;
    color: #888888; }
@media screen and (min-width: 33em) {
  .profile .profile-bottom .profile-pic {
    width: 20%; }
  .profile .profile-bottom .profile-data {
    width: 80%; }
  .profile .profile-bottom .profile-name {
    margin: 0 10px 0 20px; }
  .profile .profile-bottom .profile-description {
    width: 350px;
    margin: 0 10px 0 20px; } }
@media screen and (min-width: 74em) {
  .profile .profile-bottom {
    display: none; } }

footer {
  margin: 1em 0 1em 0; }

::-moz-selection {
  color: black;
  background: #eb6841; }

::selection {
  color: black;
  background: #eb6841; }

hr {
  margin-bottom: 1em;
  border: 0;
  height: 0;
  border-top: 1px solid rgba(0, 0, 0, 0.06);
  border-bottom: 1px solid rgba(255, 255, 255, 0.3); }

@media screen and (min-width: 33em) {
  .alignleft, .alignright {
    display: inline;
    margin-right: 0.5em;
    width: auto; } }

@media screen and (min-width: 33em) {
  .alignleft {
    float: left; } }

@media screen and (min-width: 33em) {
  .alignright {
    float: right; } }

.wp-caption-text {
  font-size: 17px; }

.videoWrapper {
  position: relative;
  padding-bottom: 56.25%;
  padding-top: 25px;
  height: 0; }
  .videoWrapper iframe, .videoWrapper object {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%; }
